beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
curl_cffi==0.16.2
dnspython==2.8.0
idna==3.19
pillow==12.3.0
pycparser==3.0
pymongo==4.17.0
PyOTP==2.10.0
readerwriterlock==1.0.9
redis==8.1.0
requests==2.34.2
soupsieve==2.9.2
spotapi==1.2.8
typing_extensions==4.16.0
urllib3==2.7.0
validators==0.35.0
websockets==17.1
